*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // this defines what 1rem is.
  font-size: 62.5%; // 1rem = 10px: 10px/16px = 62.5
}

body {
  box-sizing: border-box;
  // padding: 3rem;

  background-color: $color-primary-slate;
  color: $color-white;
}

.container {
  display: grid;
  grid-template-rows: 5rem 1fr 20rem;
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(
      8,
      [col-start] minmax(min-content, 14rem) [col-end]
    ) [center-end] minmax(6rem, 1fr) [full-end];
}
