$color-primary-slate: #1d1e22;
$color-secondary-gray: #393f4d;
$color-silver-fox: #d4d4dc;
$color-yellow: #feda6a;

$color-white: #ffffff;
$color-black: #000000;
$color-grey-dark: #777777;

$default-font-size: 1.6rem;
